<%- include ('../partials/header') %>
<main class="article-unique">
  <div class="product-list">
    <article class="product-card">
      <header class="card-header">
        <img class="product-image" src="/images/coffees/100955890.png" alt="Café 1" />
        <h3 class="product-title">Café d'Italie : Espresso</h3>
      </header>
      <section class="card-content">
        <p>Café fort et concentré préparé en faisant passer de l'eau chaude à travers du café finement moulu.</p>
      </section>      
    </article>
</main>
<%- include ('../partials/footer') %>