<%- include ('../partials/header') %>
<main class="article-unique">
  <div class="product-list">
    <article class="product-card">
      <header class="card-header">
        <img class="product-image" src="/images/coffees/100955890.png" alt="Café 1" />
        <h3 class="product-title">Titre café 1</h3>
      </header>
      <section class="card-content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti inventore assumenda cumque reprehenderit. Aut saepe ipsa fugiat repellat ratione, consequuntur esse corporis dicta voluptatum, porro, accusantium eius qui? Tenetur, quis?</p>
      </section>      
    </article>
</main>
<%- include ('../partials/footer') %>