<%- include ('../partials/header') %>
<main class="main-content">
  <article class="intro">
    <div class="intro-focus">
      <div class="intro-text">
        <h1 class="main-title">oCoffee</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo dolorem cumque sunt, corrupti repellat atque quae quaerat illo rem velit. Et aspernatur debitis vitae accusamus minima cupiditate illo. Possimus, culpa!</p>
        <a href="catalogue" target="_blank">
          <button class="button-catalogue">Voir le catalogue</button>
        </a>
      </div>
      <figure class="intro-image">
        <img class="image-about" src="images/about.jpg" alt="Boutique de café" />            
      </figure>
    </div>
  </article>      
  <section class="new-products">
    <header>
      <h2 class="section-title">Nouveautés</h2>
    </header>
    <div class="product-list">
      <article class="product-card">
        <header class="card-header">
          <img class="product-image" src="images/coffees/100955890.png" alt="Café 1" />
          <h3 class="product-title">Titre café 1</h3>
        </header>
        <section class="card-content">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti inventore assumenda cumque reprehenderit. Aut saepe ipsa fugiat repellat ratione, consequuntur esse corporis dicta voluptatum, porro, accusantium eius qui? Tenetur, quis?</p>
        </section>
        <footer class="card-footer">
          <a href="#" target="_blank">
            <button class="card-button">Découvrir</button>
          </a>
        </footer>
      </article>
      <article class="product-card">
        <header class="card-header">
          <img class="product-image" src="images/coffees/100955890.png" alt="Café 2" />
          <h3 class="product-title">Titre café 2</h3>
        </header>
        <section class="card-content">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti inventore assumenda cumque reprehenderit. Aut saepe ipsa fugiat repellat ratione, consequuntur esse corporis dicta voluptatum, porro, accusantium eius qui? Tenetur, quis?</p>
        </section>
        <footer class="card-footer">
          <a href="#" target="_blank">
            <button class="card-button">Découvrir</button>
          </a>
        </footer>
      </article>
      <article class="product-card">
        <header class="card-header">
          <img class="product-image" src="images/coffees/100955890.png" alt="Café 3" />
          <h3 class="product-title">Titre café 3</h3>
        </header>
        <section class="card-content">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti inventore assumenda cumque reprehenderit. Aut saepe ipsa fugiat repellat ratione, consequuntur esse corporis dicta voluptatum, porro, accusantium eius qui? Tenetur, quis?</p>
        </section>
        <footer class="card-footer">
          <a href="#" target="_blank">
            <button class="card-button">Découvrir</button>
          </a>
        </footer>
      </article>
    </div>
  </section>
</main>
<%- include ('../partials/footer') %>