<%- include ('../partials/header') %>
<main class="page-404">
<h1>404 page not found</h1>
<p><img class="img404" src="/images/coffees/404.jpeg" alt="404 coffee"></p>
<p><a href="/">Retourner à la page d'accueil</a></p>
</main>
<%- include ('../partials/footer') %>