<%- include ('../partials/header') %>
<h1>404</h1>
<p><img class="img404" src="/images/coffees/404.jpeg" alt="404 coffee"></p>
<p><a href="/">Retourner à la page d'accueil</a></p>
<%- include ('../partials/footer') %>