<%- include('../partials/header') %>

<main>
  <h1>Une erreur est survenue.</h1>
  <p>Il semblerait qu'une erreur serveur se soit produite.</p>
  <p>Merci de réessayer plus tard.</p>
  <a href="/">Retour à l'accueil</a>
</main>

<%- include('../partials/footer') %>